<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Register</title>
</head>
<body>
  <div class="d-flex row g-2 shadow-lg p-3 mt-lg-3 bg-body rounded">

    <div class="col-md-12 p-2">
      <label class="form-control bg-primary text-white">Registro para el nuevo usuario</label>
    </div>

    <form class="row"
          [formGroup]="valideRegister"
          (ngSubmit)="sendRegister()"
          name="formRegister">
      <div class="col-md-6 form-floating">
        <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Nombre"
              required>
        <label for="name" class="form-label ms-2">Nombre</label>
      </div>
      <div class="col-md-6 form-floating">
        <input type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
              placeholder="Apellidos"
              required>
        <label for="lastName" class="form-label ms-2">Apellidos</label>
      </div>
      <div class="col-md-7 mt-3 form-floating">
        <input type="number"
              class="form-control"
              id="phone"
              formControlName="phone"
              placeholder="Télefono"
              required>
        <label for="phone" class="form-label ms-2">Teléfono</label>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group form-floating">
          <input type="text"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="micorreo@dominio.com"
                required>
          <label for="email" class="form-label">Email</label>
          <span class="input-group-text" id="email">@</span>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group form-floating">
          <input type="text"
                class="form-control"
                id="reEmail"
                formControlName="reEmail"
                placeholder="micorreo@dominio.com"
                required>
          <label for="reEmail" class="form-label">Repita el email</label>
          <span class="input-group-text" id="reEmail">@</span>
        </div>
      </div>
      <div class="col-md-12 mt-3 form-floating">
        <input type="text"
              class="form-control"
              id="address"
              formControlName="address"
              placeholder="C/ de la Providencia, n 7 3º">
        <label for="address" class="form-label ms-2">Dirección</label>
      </div>
      <div class="col-md-6 mt-3 form-floating">
        <input type="text"
              class="form-control"
              id="city"
              formControlName="city"
              placeholder="Madrid">
        <label for="city" class="form-label ms-2">Ciudad</label>
      </div>
      <div class="col-md-6 mt-3 form-floating">
        <select class="form-select" id="state" formControlName="state">
          <option selected disabled value="">Selecciona...</option>
          <option value="">- selecciona -</option>
                        <option value="15">A coru&#241;a</option>
                        <option value="1">&#193;lava</option>
                        <option value="2">Albacete</option>
                        <option value="3">Alicante</option>
                        <option value="4">Almer&#237;a</option>
                        <option value="33">Asturias</option>
                        <option value="5">&#193;vila</option>
                        <option value="6">Badajoz</option>
                        <option value="7">Baleares</option>
                        <option value="8">Barcelona</option>
                        <option value="9">Burgos</option>
                        <option value="10">C&#225;ceres</option>
                        <option value="11">C&#225;diz</option>
                        <option value="39">Cantabria</option>
                        <option value="12">Castell&#243;n</option>
                        <option value="51">Ceuta</option>
                        <option value="13">Ciudad Real</option>
                        <option value="14">C&#243;rdoba</option>
                        <option value="16">Cuenca</option>
                        <option value="99">Extranjero</option>
                        <option value="17">Girona</option>
                        <option value="18">Granada</option>
                        <option value="19">Guadalajara</option>
                        <option value="20">Guip&#250;zcoa</option>
                        <option value="21">Huelva</option>
                        <option value="22">Huesca</option>
                        <option value="23">Ja&#233;n</option>
                        <option value="26">La rioja</option>
                        <option value="35">Las palmas</option>
                        <option value="24">Le&#243;n</option>
                        <option value="25">Lleida</option>
                        <option value="27">Lugo</option>
                        <option value="28">Madrid</option>
                        <option value="29">M&#225;laga</option>
                        <option value="52">Melilla</option>
                        <option value="30">Murcia</option>
                        <option value="31">Navarra</option>
                        <option value="32">Ourense</option>
                        <option value="34">Palencia</option>
                        <option value="36">Pontevedra</option>
                        <option value="37">Salamanca</option>
                        <option value="38">Santa cruz de tenerife</option>
                        <option value="40">Segovia</option>
                        <option value="41">Sevilla</option>
                        <option value="42">Soria</option>
                        <option value="43">Tarragona</option>
                        <option value="44">Teruel</option>
                        <option value="45">Toledo</option>
                        <option value="46">Valencia</option>
                        <option value="47">Valladolid</option>
                        <option value="48">Vizcaya</option>
                        <option value="49">Zamora</option>
                        <option value="50">Zaragoza</option>
        </select>
        <label for="state" class="form-label">Provincia</label>
      </div>
      <form class="row" [formGroup]="valideRegisterPass">
        <div class="col-md-6 mt-3 form-floating">
          <input type="text"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder="Debes usar mínimo 8 caracteres"
                required>
          <label for="password" class="form-label ms-2">Contraseña</label>
        </div>
        <div class="col-md-6 mt-3 form-floating">
          <input type="text"
                class="form-control"
                id="rePassword"
                formControlName="rePassword"
                placeholder="Por favor, repite la contraseña"
                required>
          <label for="rePassword" class="form-label ms-2">Repite la contraseña</label>
        </div>
      </form>
      <div class="col-12 mt-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="conditions" formControlName="conditions" required>
          <label class="form-check-label" for="invalidCheck">
            Acepto las condiciones de registro.
          </label>
        </div>
      </div>
      <div class="col-12">
        <label *ngIf="!valideRegister.valid"
              for="error"
              class="form-label alert alert-warning col-md-12"
              role="alert">
              Por favor, cumplimente correctamente todos los campos para proceder al login.
              Si no es usuario registrado, pulse Registrar.
       </label>
       <label *ngIf="valideRegister.valid && !getPassOk()"
              for="ok"
              class="fomr-label alert alert-danger col-md-12"
              rol="alert">
              Los campos de constraseña no coinciden.
        </label>
        <label *ngIf="valideRegister.valid && getPassOk()"
              for="ok"
              class="fomr-label alert alert-success col-md-12"
              rol="alert">
              Pulsa en el botón Login para acceder a tu usuario. Gracias.
       </label>
       <button [disabled]="!valideRegister.valid || !getPassOk()"
              class="btn btn-outline-success col-md-4"
              type="submit">
              Registrate
        </button>
      </div>
    </form>

    <div class="row position-relative">
      <div class="col-md-12 mt-2">
        <button class="btn btn-outline-primary col-md-4"
                (click)="gotToLogin()">
                Volver a Login
        </button>
      </div>
    </div>
  </div>
</body>
</html>
