<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Register</title>
</head>
<body>

  <div class="row justify-content-center shadow-lg p-2 mt-3 bg-body rounded">
    <div class="col-md-12 p-2">
      <label class="form-control bg-primary text-white">Registro para el nuevo usuario</label>
    </div>

    <form class="row"
          [formGroup]="valideRegister"
          (ngSubmit)="sendRegister()"
          name="formRegister">
      <div class="col-md-6 mt-3 form-floating">
        <input class="form-control"
              type="text"
              id="name"
              formControlName="name"
              placeholder="Nombre"
              required
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="Tu nombre, mínimo 3 caracteres">
        <label for="name" class="form-label ms-2">Nombre</label>
      </div>
      <div class="col-md-6 mt-3 form-floating">
        <input class="form-control"
              type="text"
              id="lastName"
              formControlName="lastName"
              placeholder="Apellidos"
              required
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="Tus apellidos, mínimo 3 caracteres">
        <label for="lastName" class="form-label ms-2">Apellidos</label>
      </div>
      <div class="col-md-7 mt-3 form-floating">
        <input class="form-control"
              type="number"
              id="phone"
              formControlName="phone"
              placeholder="Télefono"
              required
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="Tu número tlfn, mínimo 9 cifras">
        <label for="phone" class="form-label ms-2">Teléfono</label>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group form-floating">
          <input class="form-control"
                type="text"
                id="email"
                formControlName="email"
                placeholder="Email"
                required
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Un email en formato habitual nombre@domino.com">
          <label for="email" class="form-label">Email</label>
          <span class="input-group-text" id="email">@</span>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group form-floating">
          <input class="form-control"
                type="text"
                id="reEmail"
                formControlName="reEmail"
                placeholder="Repita el email"
                required
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Repite el email">
          <label for="reEmail" class="form-label">Repita el email</label>
          <span class="input-group-text" id="reEmail">@</span>
        </div>
      </div>
      <div>
        <label class="form-label alert alert-danger col-md-12"
             *ngIf="!getEmailOk()"
              for="error"
              role="alert">
              Por favor, revise los campos Email.
        </label>
      </div>
      <div class="col-md-12 mt-3 form-floating">
        <input class="form-control"
              type="text"
              id="address"
              formControlName="address"
              placeholder="Dirección">
        <label for="address" class="form-label ms-2">Dirección</label>
      </div>
      <div class="col-md-6 mt-3 form-floating">
        <input class="form-control"
              type="text"
              id="city"
              formControlName="city"
              placeholder="Ciudad">
        <label for="city" class="form-label ms-2">Ciudad</label>
      </div>
      <div class="col-md-6 mt-3 form-floating">
        <select class="form-select" id="state" formControlName="state">
                <option selected disabled value="">Selecciona...</option>
                <option value="A Coruña">A Coruña</option>
                <option value="Álava">Álava</option>
                <option value="Albacete">Albacete</option>
                <option value="Alicante">Alicante</option>
                <option value="Almería">Almería</option>
                <option value="Asturias">Asturias</option>
                <option value="Ávila">Ávila</option>
                <option value="Badajoz">Badajoz</option>
                <option value="Baleares">Baleares</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Burgos">Burgos</option>
                <option value="Cáceres">Cáceres</option>
                <option value="Cádiz">Cádiz</option>
                <option value="Cantabria">Cantabria</option>
                <option value="Castellón">Castellón</option>
                <option value="Ceuta">Ceuta</option>
                <option value="Ciudad Real">Ciudad Real</option>
                <option value="Córdoba">Córdoba</option>
                <option value="Cuenca">Cuenca</option>
                <option value="Girona">Girona</option>
                <option value="Granada">Granada</option>
                <option value="Guadalajara">Guadalajara</option>
                <option value="Gipuzkoa">Gipuzkoa</option>
                <option value="Huelva">Huelva</option>
                <option value="Huesca">Huesca</option>
                <option value="Jaén">Jaén</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Las Palmas">Las Palmas</option>
                <option value="León">León</option>
                <option value="Lleida">Lleida</option>
                <option value="Lugo">Lugo</option>
                <option value="Madrid">Madrid</option>
                <option value="Málaga">Málaga</option>
                <option value="Melilla">Melilla</option>
                <option value="Murcia">Murcia</option>
                <option value="Navarra">Navarra</option>
                <option value="Ourense">Ourense</option>
                <option value="Palencia">Palencia</option>
                <option value="Pontevedra">Pontevedra</option>
                <option value="Salamanca">Salamanca</option>
                <option value="Segovia">Segovia</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Soria">Soria</option>
                <option value="Tarragona">Tarragona</option>
                <option value="Tenerife">Tenerife</option>
                <option value="Teruel">Teruel</option>
                <option value="Toledo">Toledo</option>
                <option value="Valencia">Valencia</option>
                <option value="Valladolid">Valladolid</option>
                <option value="Vizcaya/Bizkaia">Vizcaya/Bizkaia</option>
                <option value="Zamora">Zamora</option>
                <option value="Zaragoza">Zaragoza</option>
        </select>
        <label for="state" class="form-label">Provincia</label>
      </div>
      <div class="col-6">
        <div class="input-group mt-3 form-floating">
          <input class="form-control rounded-start"
                type="password"
                id="password"
                name="password"
                formControlName="password"
                placeholder="Debes usar mínimo 8 caracteres"
                required
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Elge una contraseña de, al menos, 8 caracteres">
                <button class="btn btn-primary rounded-end"
                      type="button"
                      id="ShowPassword"
                      onclick="mostrarPassword()">
                  <span class="fa fa-eye-slash icon"></span>
                </button>
          <label for="password" class="form-label ms-2">Contraseña</label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mt-3 form-floating">
          <input class="form-control"
                type="password"
                id="rePassword"
                name="rePassword"
                formControlName="rePassword"
                placeholder="Por favor, repite la contraseña"
                required
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Repite la contraseña">
                <button class="btn btn-primary rounded-end"
                      type="button"
                      id="ShowRePassword"
                      onclick="mostrarRePassword()">
                  <span class="fa fa-eye-slash rIcon"></span>
                </button>
          <label for="rePassword" class="form-label ms-2">Repita la contraseña</label>
        </div>
      </div>
      <div class="col-12">
        <label class="fomr-label alert alert-danger col-md-12"
           *ngIf="!getPassOk()"
            for="ok"
            rol="alert">
            Los campos de constraseña no coinciden o no son válidos. La contraseña debe contener, al menos, 8
            caracteres.
      </label>
      </div>
      <div class="col-12 mt-3">
        <div class="form-check form-switch">
          <input class="form-check-input"
          type="checkbox"
          name="conditions"
          role="switch"
          formControlName="conditions"
          required
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          title="Espero que te las hayas leido">
          <label class="form-check-label" for="invalidCheck">
            Acepto las condiciones de registro.
          </label>
        </div>
      </div>
      <div class="col-12">
        <label class="form-label alert alert-warning col-md-12"
              *ngIf="!valideRegister.valid || !getPassOk() || !getEmailOk()"
              for="error"
              role="alert">
              Por favor, cumplimente correctamente todos los campos para contiuar.
       </label>
        <label class="fomr-label alert alert-success col-md-12"
             *ngIf="valideRegister.valid && getPassOk() && getEmailOk()"
              for="ok"
              rol="alert">
              Ya puede pulsar el botón Registro para continuar. Gracias.
       </label>
       <button class="btn btn-success col-md-4"
              [disabled]="!valideRegister.valid || !getPassOk() || !getEmailOk()"
              type="submit"
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="Ahora, ya puedes registrarte pulsando el botón">
              Registro
        </button>
      </div>
    </form>

    <div class="row position-relative">
      <div class="col-md-12 mt-2">
        <button class="btn btn-primary col-md-4"
                (click)="gotToLogin()"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Puedes volver al login, si quieres">
                Volver a Login
        </button>
      </div>
    </div>
  </div>
</body>
</html>
