<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheets" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">

  <title>Login Form</title>
</head>
<body>
  <div class="d-flex row g-2 p-3 mt-lg-12 shadow-lg bg-body rounded">
    <form class="row"
      name="loginForm"
      [formGroup]="valideLogin"
      (ngSubmit)="this.sendLogin()">
      <div class="col-md-12">
        <label for="email"
          class="form-label">Dirección de correo</label>
        <div class="input-group needs-validation">
          <span class="input-group-text"id="email">@</span>
          <input name="email"
            id="email"
            type="text"
            class="form-control col-md-4"
            formControlName="email"
            placeholder="micorreo@dominio.com"
            required>
        </div>
      </div>
      <div class="col-md-12">
        <label for="password"
          class="form-label">Contraseña</label>
        <input id="password"
          name="password"
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Contraseña. Recuerde, mínimo 8 caracteres"
          required>

      </div>
      <div class="col-md-12 mt-4">
        <label *ngIf="!this.valideLogin.valid"
               for="error"
               class="form-label alert alert-warning col-md-12"
               role="alert">
               Por favor, cumplimente correctamente todos los campos para proceder al login.
               Si no es usuario registrado, pulse Registrar.
              </label>
        <label *ngIf="this.valideLogin.valid"
               for="ok"
               class="fomr-label alert alert-success col-md-12"
               rol="alert">
               Pulsa en el botón Login para acceder a tu usuario. Gracias.
              </label>

        <button *ngIf="this.valideLogin.valid"
                type="submit"
                class="btn btn-primary m-2 col-md-2" >
                Login
              </button>
      </div>
    </form>
    <div class="row position-relative">
      <div class="col-md-12 mt-2">
        <button *ngIf="!this.valideLogin.valid"
                class="btn btn-primary m-2 col-md-4"
                (click)="goToRegister()">
                Registrar nuevo usuario
              </button>
      </div>
    </div>
  </div>

</body>
</html>

<!--  -->
<!--https://es.calcuworld.com/deporte-y-ejercicio/calculadora-de-tiempos-carreras/-->
